venv/
.venv/
__pycache__/
.pytest_cache/
input.json
result.json
*.log
uv.lock
tests/data/**/*.ATR
tests/data/**/*.DB1
tests/data/**/*.DB2
tests/data/**/*.DSP
tests/data/**/*.EMG
tests/data/**/*.FMT
tests/data/**/*.KG1
tests/data/**/*.KG2
tests/data/**/*.KG4
tests/data/**/*.KG6
tests/data/**/*.KG8
tests/data/**/*.KG9
tests/data/**/*.KGR
tests/data/**/*.LP1
tests/data/**/*.LP2
tests/data/**/*.LP3
tests/data/**/*.lpd
tests/data/**/*.ONR
tests/data/**/*.OPT
tests/data/**/*.OUT
tests/data/**/*.PDN
tests/data/**/*.PDS
tests/data/**/*.PEL
tests/data/**/*.PIC
tests/data/**/*.PMP
tests/data/**/*.R10
